<script>
  $(function() {
    $( ".calendar" ).datepicker({ dateFormat: 'yy-mm-dd', changeYear: true, changeMonth: true });
  });
</script>

<div id="form_container">
  <%= form_tag( :action => 'show') do %>
    <p>
    <%= label_tag 'users' %>
    <%= text_field_tag 'users', @userstring, :size => 45 %>
    </p>
    <p>
    <%= label_tag 'tags' %>
    <%= text_field_tag 'tags', @tagstring, :size => 45%>
    </p>
    <p>
    <%= label_tag 'num' %>
    <%= select_tag 'num', options_for_select([["3"], ["10"], ["20"], ["50"]]) %> 
    </p>
    <p>
    <%= label_tag 'start_date' %>
    <%= text_field_tag 'startDate', @start_date, :class => 'calendar' %>
    
    <%= label_tag 'end_date' %>
    <%= text_field_tag 'endDate', @end_date, :class => 'calendar'  %>
    </p>
    <p>
    <%= submit_tag "Search"  %>
    <p>
  <% end %>

</div>
