<script>
  $(function() {
    var dates = $( "#startDate, #endDate" ).datepicker({
      dateFormat: 'yy-mm-dd',
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 3,
      onSelect: function( selectedDate ) {
        var option = this.id == "startDate" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" );
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings );
        dates.not( this ).datepicker( "option", option, date );
      }
    });
  });
</script>

<div id="form_container">
  <%= form_tag( :action => 'show') do %>
    <p>
    <%= label_tag 'users' %>
    <%= text_field_tag 'users', @userstring, :size => 45 %>
    </p>
    <p>
    <%= label_tag 'tags' %>
    <%= text_field_tag 'tags', @tagstring, :size => 45%>
    </p>
    <p>
    <%= label_tag 'num' %>
    <%= select_tag 'num', options_for_select([["3"], ["10"], ["20"], ["50"]]) %> 
    </p>
    <p>
    <%= label_tag 'From' %>
    <%= text_field_tag 'startDate', @start_date, :class => 'calendar' %>
    
    <%= label_tag 'to' %>
    <%= text_field_tag 'endDate', @end_date, :class => 'calendar'  %>
    </p>
    <p>
    <%= submit_tag "Search"  %>
    <p>
  <% end %>

</div>
