<!DOCTYPE html>
<html>
<head>
  <title>Lens</title>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <%= javascript_include_tag 'jquery.masonry.min' %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if flash[:error] %>
    <div id="errors"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:errors] %>
    <div id="errors">
      <ul>
        <% flash[:errors].each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if flash[:message] %>
    <div id="message"><%= flash[:message] %></div>
  <% end %>

<%= yield %>

</body>
</html>
