<!DOCTYPE html>
<html>
<head>
  <title>Lens</title>
  <%= javascript_include_tag 'jquery-1.4.4.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.7.custom.min' %>
  <%= javascript_include_tag 'jquery.masonry.min' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.7.custom' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if flash[:error] %>
    <div id="errors"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:errors] %>
    <div id="errors">
      <ul>
        <% flash[:errors].each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if flash[:message] %>
    <div id="message"><%= flash[:message] %></div>
  <% end %>

<%= yield %>

</body>
</html>
